ConsoleApplication2/Service References/ServiceReference1/WebAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="alsoenergy_ns" elementFormDefault="qualified" targetNamespace="alsoenergy_ns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" />
  <xs:import schemaLocation="http://www.alsoenergy.com/WebAPI/WebAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginScada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scadaKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginScadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="LoginScadaResult" nillable="true" type="q2:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="LogoutResult" nillable="true" type="q3:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteHardwareList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteHardwareListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetSiteHardwareListResult" nillable="true" type="q4:HardwareCompleteListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryHardware">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryHardwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetSummaryHardwareResult" nillable="true" type="q5:HardwareCompleteListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetSiteDetailResult" nillable="true" type="q6:SiteDetailResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetSiteListResult" nillable="true" type="q7:ListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toLocal" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="binSize" type="q8:BinSizes" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="Fields" nillable="true" type="q9:ArrayOfDataField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetBinDataResult" nillable="true" type="q10:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toLocal" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="binSize" type="q11:BinSizes" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="Fields" nillable="true" type="q12:ArrayOfDataField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSummaryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetSummaryDataResult" nillable="true" type="q13:DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toLocal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetAlertsResult" nillable="true" type="q14:AlertCompleteListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGatewayConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGatewayConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetGatewayConfigResult" nillable="true" type="q15:GatewayConfigResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGatewayCommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGatewayCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetGatewayCommandsResult" nillable="true" type="q16:CommandsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="data" nillable="true" type="q17:Heartbeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="SendHeartbeatResult" nillable="true" type="q18:HeartbeatResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gatewayID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commandResultData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="SendCommandResultResult" nillable="true" type="q19:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="data" nillable="true" type="q20:ArrayOfUploadData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRawDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="UploadRawDataResult" nillable="true" type="q21:UploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadByteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IsLog" type="xs:boolean" />
        <xs:element minOccurs="0" name="NotResponding" type="xs:boolean" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadByteDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="UploadByteDataResult" nillable="true" type="q22:UploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestamp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hardwareID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetTimestampResult" nillable="true" type="q23:TimestampResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keys" nillable="true" type="q24:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetObjectsResult" nillable="true" type="q25:ObjectsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDeviceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IsLog" type="xs:boolean" />
        <xs:element minOccurs="0" name="NotResponding" type="xs:boolean" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDeviceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="UploadDeviceDataResult" nillable="true" type="q26:UploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeysForGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GatewayID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKeysForGatewayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetKeysForGatewayResult" nillable="true" type="q27:KeysResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sinceUTC" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keys" nillable="true" type="q28:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetChangedKeysResult" nillable="true" type="q29:KeysResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AlsoEnergyAPI.Data" minOccurs="0" name="GetTimeZonesResult" nillable="true" type="q30:ByteObjectsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>